.navbar {
  position: absolute;
  top: -1px;
  right: -1px;
  background-color: var(--item-background);
  border-radius: 0 20px 0 20px;
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  box-shadow: var(--shadow-2);
}

/* Nav List Styles */
.nav-list {
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0 3rem;
}

/* Nav Item Styles */
.nav-item {
  flex: 1;
  margin: 0;
  position: relative;
  list-style: none;
}

/* Nav Link Styles */
.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--light-gray);
  text-decoration: none;
  padding: 1rem 0rem;
  box-sizing: border-box; 
  position: relative;
  z-index: 1;
  font-size: 1rem;
}

.nav-link:hover {
  color: rgb(191, 189, 189);
  text-decoration: none;
}

.nav-link.active {
  color: var(--accent-color);
}

/* Tablet Styles */
@media only screen and (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: center;
    z-index: 10;
    width: 100vw;
    position: fixed;
    top: auto;
    right: auto;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(43, 43, 44, 0.75);
    backdrop-filter: blur(10px);
    border-radius: 20px 20px 0 0;
    border: 1px solid var(--border-color);
    box-shadow: var(--shadow-2);
  }

  .nav-list {
    padding: 0.5rem 2rem;
    gap: 1rem;
  }

  .nav-link {
    font-size: 0.9rem;
    padding: 0.8rem 0rem;
  }
}

/* Small Mobile Styles */
@media only screen and (max-width: 480px) {
  .nav-list {
    gap: 0.5rem;
    padding: 0.5rem 1rem;
  }

  .nav-link {
    font-size: 0.8rem;
    padding: 0.7rem 0.3rem;
  }
}

/* Extra Small Mobile Styles */
@media only screen and (max-width: 360px) {
  .nav-list {
    gap: 0.3rem;
    padding: 0.5rem 0.5rem;
  }

  .nav-link {
    font-size: 0.75rem;
    padding: 0.6rem 0.2rem;
  }
}